* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif; 
}

#three-columns {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;

}

#column-2{
   
}
#column-1{
    font-size: 40px;
    span{
        display: inline-block;
    }
    #sp1{
        color: purple;
    }
    sp2{
        color: blue;
    }
    span2{
        color: orange;
    }
    span3{color: red;
        
    }
    span4{
        color: green;
    }
}

#column-2 {
  
    color: black;
}

#column-3 {
    background-color: aquamarine;
    padding: 20px;
}