@font-face {
    font-family: 'gilgongo_doror';
    src: url('../fonts/gilgond_-webfont.woff2') format('woff2'),
         url('../fonts/gilgond_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
.contain{
    width: 90vw;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}


#navbar {
    background: black;

    .contain{
        display: flex;
        align-items: center;
        justify-content: center;

    }
   
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 24px;
}

#navbar a:hover {
    background: #931F28;
}

#navbar img {
    width: 100px;
    margin: 12px;
    margin-right: 50px;
    padding-top: 13px;
    padding-bottom: 12px;
   
    
    
}


.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
    z-index: 10;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #931F28;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: #61C6C4;
}
#two-columns {
    /* STEP 2 */
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

}

#column-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}

#column-2{
    padding: 0px 50px;
}
#column-2 a:hover{
    background-color: #61C6C4;
}
#column-2 {
    background-color: white;
    h2{
        font-family:"gilgongo_doror";
        font-size: 50px;
    }
    p{
        /* padding-bottom: 30px; */
        font-size: 29px;
    }
    a{
        background-color: #931F28;
        padding: 10px;
        text-decoration: none;
        color: white;
        border-radius: 10px;
        font-family:"gilgongo_doror" ;
        font-size: 26px;
        
        
    }
}
.contain-grid{
    margin-bottom: 10px;
    
}
.contain{
    width: 70vw;
    margin:0px auto;
    width: 1200px;
}
.card {
    
    max-width: 400px;
    width: 80vw;
    margin: 20px auto;
    max-width: 400px;
    flex-wrap: wrap;    
    gap: 10px;
    transition: 0.3s;
  }
  
  
  h1{
    font-family:"gilgongo_doror";
        font-size: 60px;
        text-align: center;
        padding-bottom: 30px;

  }
  
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    justify-content: center;
    h2{
        font-family:"gilgongo_doror";
        font-size: 26px;
        text-align: center;

    }
    
  }
  .card{
    width: 100%;
    border: 1px solid #931F28;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -4px 4px 12px lightgray;
    margin: 0px;
    &:hover{
        background-color: #61C6C4;
        color: yellow;
    }

    
    img{
        width: 100%;
        object-fit: cover;
        height: 300px;
    
    }
    a{
        font-size: 24px;
        text-align: center;
        font-family: "gilgongo_doror";
        margin-top: 12px;
        margin-bottom: 0px;
        text-decoration: none;
        color: #3C3744;
        font-size: 25px;
        &:hover{
            background-color: transparent;
            color: grey;
            text-decoration: underline;
            
        }
        
    }
        
    p{
        font-size: 20px;
        text-align: left;
        
    }
}
@media screen and (max-width: 480px) {
    #navbar {
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
    }
    #navbar a {
        padding: 0px;
    }.contain{
        flex-direction: column;
        gap: 24px;
        width: 50%;

    }
    .contain h1{
        margin: 0px;
        font-size: 32px;

    }
    .card1 {
        grid-template-columns: 1fr;
        grid-template-areas:
        "t1"
        "i1"
        "i2"
        "i3"
        "i4"
        "t2"

        ;
    }
}
img{
    width: 100%;
    object-fit: cover;
}
.contain{
    width: 90vw;
    margin: 48px auto;
    max-width: 800px;
}



