*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: sans-serif;
}

#two-column{
    display: flex;
    width: 90vw;
    height: 400vh;
    
    
}


#sidebar {
    width: 250px;
    padding: 24px;
    border-right: 2px solid rgb(0, 0, 0);
    h2{

        border-bottom: 2px solid rgb(0, 0, 0);
        padding-bottom: 8px ;
    }
    ul{
        list-style-type: none;
        padding: 0px;
        li {
            padding: 4px 0px;
        }
        a {
            text-decoration: none;
        }
    }
    


}
#main{
    padding: 48px;
    flex: 1;
}
