@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
   
    
}
body {
    
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: #f4f4f4; */
    
    

}
/* header */
nav{
    padding: 20px;
    background-color: #F5F5F5;
   
    
}
nav ul{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
    list-style: none;
    
}
nav a{
    height: 100%;
    padding:0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-family:"Roboto", sans-serif; ;
}

nav a:hover{
    color:  #FF69B4;
    border-radius: 3px;
    padding: 32px;
    transition:
        background-color 0.5s,
        box-shadow 0.7s,
        transform 0.5s;
}
nav li:first-child{
    margin-right: auto;
}


nav #logo img {
    width: 90px;
    padding: 10px;
}

nav a#logo:hover {
    background-color: transparent;  
    box-shadow: none;              
   
}
 


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: transparent;
    backdrop-filter:blur(10px);
    box-shadow: -10px 0 10px rgb(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
    padding-top: 12;
    margin: 20px;
}
.sidebar a{
    width: 100%;
    padding: 20px;
}






/* THIS STARTS THE HOME PAGE */

    
    #maintitle {
            margin:auto ;
            align-items: center;
            width: 1460px;
            padding: 20px;
            justify-content: center;
            background-color:#f4f4f4;
            b{
                color: #FF69B4 ;

            }

            h1{
            font-size: 70px;
            font-family: "Roboto", sans-serif;
            color:black;
            font-weight: 300;
            
        }
        p{
            font-family:"Nunito Sans", serif ;
            font-size: 65px;
            color: black;
        }

            
            
         }
         #intro{
            width: 1430px;
            padding: 20px;
         }

         


           
    
/* THIS LINE STARTS THE CARD CODE */

#projects {
    text-align: center;
    color:#f4f4f4;
    /* background-color: #000000; */
    align-items: center;
    background-color:#FF69B4;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 20px 30px;
    margin: 56px;
     border-radius: 15px;
    
}


.card-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between cards */
    flex-wrap: wrap; /* Ensures cards wrap on smaller screens */
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.card {
    width: 500px;
    height: 600px;
    border: solid #FF69B4 4px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* To ensure the image fits properly */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Smooth zoom effect on hover */
}

.card:hover img {
    transform: scale(1.05);
}

.card h3 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #9f9e9e;
    margin: 10px 0;
}

.card a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    color: #FF69B4;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-bottom: 10px;
}

.card a:hover {
    color: #333;
    transform: translateY(-3px); /* Lift effect on hover */
}

.card p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
    padding-bottom: 20px;
}




/* THIS LINE STARTS THE  APP CODE*/

#section-container {
    background:linear-gradient(135deg, #7B205F, #42AAD1);/* Apply the background color to this section */
    width: 100%;  /* Make sure it stretches the entire width */
    padding: 0;
    h1{
        font-size: 48px;
        color:#efefef;
        font-weight: bold;
        font-family:"Roboto", sans-serif ;
        line-height: 1.3;
        margin-bottom: 20px; /* Space below the heading */
    }
    p{
        font-size: 30px;
    }
}


#main-content {
    margin: auto;
    max-width: 1200px; /* Keeps the content centered and inside this width */
    align-items: center;
    justify-content: center;
    padding: 32.80px;
    h3{
        font-family:"Roboto", sans-serif ;
    }
    p{
        font-size: 26px;
    }
}

/* Mockup image styling */
#mockup1 {
    max-width: 1025px;
    justify-content: center;
    align-items: center;
}

#mockup1 img {
    width: 1025px; /* Or any other width you want the image to be */
}
   #maininfo {
    p{
        font-size: 26px;
        font-family: "Nunito Sans", serif;
    }
    h1{
        font-size: 100px;
        font-weight: 700;
        font-family:"Roboto", sans-serif ;
        color: #3C3744;
        

    b{
        font-size: 30px;
        text-wrap: wrap;
        font-family:"Nunito Sans", serif ;
        
    }
    

    
    b{
        color: black;
        font-size: 26px;
        font-family: "Nunito Sans", serif;
    }
    
    
   
}
   }

/*side by side code 1 */
#main {
    padding: 30px;
    
    p {
        font-size: 28px;
        margin-bottom: 20px;
        font-family:"Nunito Sans", serif ;
    }
    h3 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 10px;
        font-family:"Roboto", sans-serif ;
    }
    
    
}

.single {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container {
    flex: 1 1 60%;  /* Takes up 60% of the space */
    padding: 50px;
    
}


ul {
    font-size: 18px;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    font-family:"Nunito Sans", serif  ;
    font-size: 28px;
}

.sideside {
    flex: 1 1 35%;  /* Takes up 35% of the space */
    display: flex;
    align-items: center;
    justify-content: space-between;  /* Aligns items horizontally */
    gap: 20px;  /* Adds space between images */
}

.main2{
    padding: 30px;
    p {
        font-size: 28px;
        margin-bottom: 10px;
        font-family:"Nunito Sans", serif ;
    }
    h3 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 10px;
        font-family:"Roboto", sans-serif ;
    }
    
    
}

.single {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container {
    flex: 1 1 60%;  /* Takes up 60% of the space */
    padding: 50px;
    
}


.sideside {
    flex: 1 1 35%;  /* Takes up 35% of the space */
    display: flex;
    align-items: center;
    justify-content: space-between;  /* Aligns items horizontally */
}


.image-container img {
    width: 48%;  /* Makes the images take up 48% of the space */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* main colors code */
.main2 {
    padding: 30px;
    
    p {
        font-size: 28px;
        margin-bottom: 20px;
        font-family:"Nunito Sans", serif ;
    }
    h3 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 10px;
        font-family:"Roboto", sans-serif ;
    }
    
    
}

.single2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container2{
    flex: 1 1 60%;  /* Takes up 60% of the space */
    padding: 50px;
    
}



.sideside2 {
    flex: 1 1 35%;  /* Takes up 35% of the space */
    display: flex;
    align-items: center;
    justify-content: space-between;  /* Aligns items horizontally */
    gap: 20px;  /* Adds space between images */
}

.main2{
    padding: 30px;
    p {
        font-size: 28px;
        margin-bottom: 10px;
        font-family:"Nunito Sans", serif ;
    }
    h3 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 10px;
        font-family:"Roboto", sans-serif ;
    }
    
    
}

.single2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container2 {
    flex: 1 1 60%;  /* Takes up 60% of the space */
    padding: 50px;
    
}


.sideside2 {
    flex: 1 1 38%;  /* Takes up 35% of the space */
    display: flex;
    align-items: center;
    justify-content: space-between;  /* Aligns items horizontally */
}
.image-container2{
    width:200px;
}


.image-container2 img {
    width: 48%;  /* Makes the images take up 48% of the space */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
/* main colors code */

/* DESIGN PROCESS CODE  */

.design-process-container {
    max-width:1200px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px; /* Adds space around the content */
    background-color: white; /* Optionally, set a background color */
}

h3 {
    font-size: 32px; /* Larger font size for the heading */
    margin-bottom: 15px; /* Adds space below the heading */
    font-family: "Roboto", sans-serif ;
}

p {
    font-size: 26px; /* Standard font size for paragraphs */
    font-family:"Nunito Sans", serif ;
    margin-bottom: 28px; /* Adds space between paragraphs */
}
/* DESIGN PROCESS CODE END   */


     
.mockups2 {
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    /* max-width: 1200px; */
    margin: auto;
    background-color: #42AAD1;
    width: 100%;
    padding: 20px;

    
    
  }

  #contents {
    padding: 10px; /* Optional: adds some padding around the content */
    width: 1200px;
    
  }


  #contents img {
    max-width: 100%; /* Ensures the images are responsive */
    margin: 10px; /* Adds space between images */
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }

  .mockups3 {
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    max-width: 1200px;
    margin: auto;
    
  }
  

  #contents2 {
    padding: 10px; /* Optional: adds some padding around the content */
  }


  #contents2 img {
    max-width: 100%; /* Ensures the images are responsive */
    margin: 10px; /* Adds space between images */
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  /* ICONS CODE */
  #icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  .single-column5 {
    width: 100%;
    max-width: 1200px; /* Ensures it doesn't stretch too much */
  }
  
  .side-by-side5 {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap; /* Allows the content to wrap on smaller screens */
    gap: 30px;
  }
  
  /* Image container styling */
  .image-container5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: auto;
    gap: 20px;
    max-width: 800px; /* Adjust the size of the icons container */
  }
  
  .image-container5 img {
    width: 40px;
    max-width: 200px; /* Ensures icons don't stretch too large */
    height: auto;
    gap: 20px;
  }
  
  
  
  /* Text container styling */
  .text-container5 {
    flex-basis: 75%;
    max-width: 1200px;
    padding: 10px;

  }
  
  .text-container5 h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .text-container5 p {
    font-size: 28px;
    line-height: 1.6;
    margin-bottom: 0;
  }

  .searchbar{
    display: flex;
    justify-content: center;
    gap: 30px; /* Adds space between the text and images */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    padding: 40px;
    background-color: #f4f4f4;
  }
  
  #searchbars-img {
    display: grid;
    margin: auto;
    grid-template-columns: 400px;
    gap: 20px;
    max-width: 800px; /* Adjust the size of the icons container */
  }
  
  #searchbars-img img {
    width: 400px; /* Controls the icon size */
    height: auto;
    object-fit: contain;
   
  }
  
  
  .text-containe {
    max-width:1200px; /* Adjusts the text container width */
    padding: 10px;
  }
  
  .text-containe h3 {
    font-size: 30px;
    margin-bottom: 20px;
    h3{
        font-family: "Roboto", sans-serif;
    }
  }
  
  .text-containe p {
    font-size: 28px;
    line-height: 1.6;
    margin-bottom: 0;
  }

/* VIDEO CODE  */

  .media-text-container {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Vertically aligns the items */
    justify-content: space-between; /* Spreads out the media and text */
    gap: 20px; /* Adds space between the media and text */
    max-width: 1200px; /* Max width for the layout */
    width: 1125px;
    margin: auto; /* Centers the layout */
    padding: 20px;
    h3{
        font-family:"Roboto", sans-serif ;
    }
    
  }
  
  /* Style for the media (image or video) */
  .media video {
    max-width: 800px; /* Ensures image is responsive */
    width: 80%; /* Adjust this value to control size */
    height: auto;
    margin: auto;
    
  }
  
  /* Style for the text section */
  .text {
    max-width:1200px; /* Adjust the width of the text block */
    width: 1000px;
    height: auto;


  }
  .media{
    width: 600px;


  }
  
  .text h2 {
    /* margin-bottom: 20px; */
    font-size: 2rem;
  }
  
  .text p {
    font-size: 28px;
    font-family:"Nunito Sans", serif ;
  }
  
  
  
  
  /* ICONS CODE */


        


    
 

        #footer{
            padding: 20px;
            margin-top: 80px;
            font-size: 30px;
            font-family: "Nunito Sans", serif ;
            display: grid;
            justify-content: center;
            background-color: #efefef;
            a {text-decoration: none;
             color: black;
        }  
    }
    #contact{
        padding: 15px;
        text-align: center;
        font-size: 20px;
    }
    #linkedin{
        padding: 15px;
        text-align: center;
        font-size: 20px;

    }
    
#layout {
    width: 900px;
    margin: 48px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
   
    h2{
        font-family:"Roboto", sans-serif ;
        font-size: 70px;
        color: #3C3744;
    }
    p{
        font-family:"Nunito Sans", serif ;
        font-size: 26px;
    }
    
}
.basic-grid-gallery {
    /* background-image: linear-gradient(to right, red , blue); */
    display: grid;
    grid-template-columns: 900px;
    
    
}


.basic-grid-gallery img {
    width: 100%;
   
}
#brandcolors{
    align-items: center;
    justify-content: center;
    width: 600px;
}


#jewerlywebsite{
    text-align: center;
    margin: 30px;
    padding: 30px;
}
.menu-button{
    display: none;
}
        


    
   
    
 

/* NAV BAR RESPOSVISNESS */
@media screen and (max-width: 400px){ 
    .hideOnMobile{
        display: none;

    }
    .menu-button{
        display: block;
    }
   
    .sidebar{
        width: 100%;
    }
}
/* NAV BAR RESPOSVISNESS END */ 

/* PHONE RESPONSINESS */


/* NAV BAR RESPONSIVENESS */
@media screen and (max-width: 480px) {
    /* XS screens */
    .menu-button {
        display: block;
    }

    .hideOnMobile {
        display: none;
    }

    #maintitle {
        flex-direction: column;
        max-width: 390px;
        padding: 15px;
    }
    #maintitle h1 {
        font-size: 28px;
    }
    #maintitle p {
        font-size: 24px;
    }

    #intro {
        width: 100%;
    }

    #projects {
        font-size: 32px;
    }

    #mockup1 {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #mockup1 img {
        width: 100%;
    }

    .sideside {
        justify-content: center;
    }

    .image-container {
        width: 100%;
    }

    .text-container5 p,
    .text-containe p,
    .media video {
        font-size: 16px;
    }
    .media-text-container {
       flex-direction: column;
        max-width: 400px; /* Max width for the layout */
        width: 1125px;
        margin: auto; /* Centers the layout */
        padding: 20px;
        h3{
            font-family:"Roboto", sans-serif ;
        }
        
      }
      
      /* Style for the media (image or video) */
      .media video {
        max-width: 390px; /* Ensures image is responsive */
        width: 250px; /* Adjust this value to control size */
        height: auto;
        margin: auto;
        
      }
      
      /* Style for the text section */
      .text {
        max-width:300px; /* Adjust the width of the text block */
        width: 1000px;
        height: auto;
    
    
      }
      .media{
        width: 300px;
      }
    }
    #layout {
        width: 300px;
        margin: 48px auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 40px;
        gap: 30px;
       
        h2{
            font-family:"Roboto", sans-serif ;
            font-size: 30px;
            color: #3C3744;
        }
        p{
            font-family:"Nunito Sans", serif ;
            font-size: 26px;
        }
        
    }
    .basic-grid-gallery {
        /* background-image: linear-gradient(to right, red , blue); */
        display: grid;
        grid-template-columns: 10px;
        
        
    }
    
    
    .basic-grid-gallery img {
        width: 300px;
       
    }
    
    
    
    

    

/* SMALL SCREENS */
@media screen and (max-width: 768px) {
    /* SM screens */
    #maintitle {
        flex-direction: column;
        max-width: 480px;
        padding: 20px;
    }

    #maintitle h1 {
        font-size: 36px;
    }
    #maintitle p {
        font-size: 30px;
    }

    #intro {
        width: 80%;
    }

    #projects {
        font-size: 36px;
    }

    .container {
        padding: 20px;
        max-width: 480px;
    }

    .mockups2 {
        width: 100%;
        background-color: white;
    }

    #contents {
        max-width: 480px;
    }

    #contents img {
        width: 100%;
        margin: 20px;
    }

    .main2 h3,
    .text-container5 h3 {
        font-size: 18px;
    }

    .searchbar {
        flex-direction: column;
        padding: 20px;
    }

    #searchbars-img {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

/* MEDIUM SCREENS */
@media screen and(max-width: 1200px) {
    /* MD screens */
    #maintitle {
        flex-direction: row;
        max-width: 700px;
        padding: 30px;
    }

    #maintitle h1 {
        font-size: 42px;
    }

    #maintitle p {
        font-size: 35px;
    }

    #intro {
        width: 70%;
    }

    #projects {
        font-size: 40px;
    }

    #mockup1 {
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    #mockup1 img {
        width: 100%;
    }

    .container {
        padding: 30px;
        max-width: 700px;
    }

    #contents img {
        max-width: 390px;
        margin: 20px;
    }

    .main2 {
        padding: 40px;
        max-width: 700px;
    }

    .searchbar {
        padding: 30px;
    }

    #searchbars-img {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

/* LARGE SCREENS */
@media screen and (max-width: 1025px) {
    /* LG screens */
    #maintitle {
        flex-direction: row;
        max-width: 1000px;
        padding: 50px;
    }

    #maintitle h1 {
        font-size: 50px;
    }

    #maintitle p {
        font-size: 40px;
    }

    #intro {
        width: 60%;
    }

    #projects {
        font-size: 50px;
    }

    #mockup1 {
        max-width: 100%;
        
    }

    #mockup1 img {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .container {
        padding: 40px;
        max-width: 1000px;
    }

    #contents img {
        max-width: 100%;
        margin: 25px;
    }

    .main2 {
        padding: 50px;
        max-width: 1000px;
    }

    .searchbar {
        padding: 20px;
        max-width: 500px;
    }

    #searchbars-img {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
#layout {
    width: 800px;
    margin: 48px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 30px;
   
    h2{
        font-family:"Roboto", sans-serif ;
        font-size: 30px;
        color: #3C3744;
    }
    p{
        font-family:"Nunito Sans", serif ;
        font-size: 26px;
    }
    
}
.basic-grid-gallery {
    /* background-image: linear-gradient(to right, red , blue); */
    display: grid;
    grid-template-columns: 700px;
    
    
}


.basic-grid-gallery img {
    width: 100%;
   
}

