@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
   
    
}
body {
    
    background-color:white;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    

}
/* header */
nav{
    padding: 20px;
    background-color: #F5F5F5;
   
    
}
nav ul{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
    list-style: none;
    
}
nav a{
    height: 100%;
    padding:0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #3C3744;
    font-family:"Roboto", sans-serif; ;
}

nav a:hover{
    color:  #FF69B4;
    border-radius: 3px;
    padding: 32px;
    transition:
        background-color 0.5s,
        box-shadow 0.7s,
        transform 0.5s;
}
nav li:first-child{
    margin-right: auto;
}


nav #logo img {
    width: 90px;
    padding: 10px;
}

nav a#logo:hover {
    background-color: transparent;  
    box-shadow: none;              
   
}
 


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: transparent;
    backdrop-filter:blur(10px);
    box-shadow: -10px 0 10px rgb(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
    padding-top: 12;
    margin: 20px;
}
.sidebar a{
    width: 100%;
    padding: 20px;
}






/* THIS STARTS THE HOME PAGE */

    
    #maintitle {
            margin:auto ;
            align-items: center;
            width: 1420px;
            padding: 20px;
            justify-content: center;
            background-color:  #000000;
            b{
                color: #FF69B4 ;

            }

            h1{
            font-size: 75px;
            font-family: "Roboto", sans-serif;
            color: #FFFFFF;
            font-weight: 300;
            
        }
        p{
            font-family:"Nunito Sans", serif ;
            font-size: 65px;
            color: #FFFFFF;
        }

            
            
         }
         #intro{
            width: 1400px;
            padding: 20px;
         }

         


           
    
/* THIS LINE STARTS THE CARD CODE */

#projects {
    color: #FF69B4;
    text-align: center;
    align-items: center;
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 40px;
    margin: 30px;
}

.contain{
    width: 50vw;
    margin:0px auto;
    width: 600px;

}
.card {
    width: 80vw;
    margin: 20px auto;
    max-width: 500px;
    flex-wrap: wrap;    
    gap: 10px;
    transition: 0.3s;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:12px;
    justify-content: center;
    
       
    }
   
    
  
  

.card{
    border: 4px solid  #FF69B4;
    margin: 12px;
    padding: 10px;
    box-shadow: 5px 10px;
    border-radius: 12px;
    text-align: center;
        transition:
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
    img{
        width: 100%;
        object-fit: cover;
        height: 300px;
    
    }
    a{
        font-size: 24px;
        margin-top: 12px;
        margin-bottom: 0px;
        text-decoration: none;
        color: black;
        font-size: 25px;
        font-family: "Nunito Sans", serif;
        &:hover{
            color: #FF69B4;
            
        }
        
    }
    p{
        text-align: center;
        font-family:"Nunito Sans", serif ;
        font-size: 20px;
    }
        
    
}
.card1:hover{
    box-shadow: 4px 6px 6px #0003;
    transform: translateY(-4px);
}


hr{
    margin: 30px;
    color: black;
}
h3{
    font-size: 40px;
    font-family: "Nunito Sans", serif;
    font-weight: 700;
    font-style: normal;
    color: #FF69B4;

}
h2{
    font-size: 20px;
    font-family: "Nunito Sans", serif;
    font-weight: 700;
    font-style: normal;
}
h4{
    font-size: 30px;
    font-family:"Roboto", sans-serif;

}
.uximage{
    flex: 300px;
    margin: 24px;
    padding: 24px;
    width: 100%;
}




/* THIS LINE STARTS THE  APP CODE*/

#section-container {
    background:linear-gradient(135deg, #981efa, #4aaad0);/* Apply the background color to this section */
    width: 100%;  /* Make sure it stretches the entire width */
    padding: 0;
    h1{
        font-size: 48px;
        color:#efefef;
        font-weight: bold;
        font-family:"Roboto", sans-serif ;
        line-height: 1.3;
        margin-bottom: 20px; /* Space below the heading */
    }
    p{
        font-size: 30px;
    }
}


#main-content {
    margin: auto;
    max-width: 1200px; /* Keeps the content centered and inside this width */
    align-items: center;
    justify-content: center;
    padding: 32.80px;
    p{
        font-size: 26px;
    }
}

/* Mockup image styling */
#mockup1 {
    max-width: 600px;
}

#mockup1 img {
    width: 1200px; /* Or any other width you want the image to be */
}
   #maininfo {
    p{
        font-size: 26px;
        font-family: "Nunito Sans", serif;
    }
    h1{
        font-size: 100px;
        font-weight: 700;
        font-family:"Roboto", sans-serif ;
        color: #3C3744;
        

    b{
        font-size: 30px;
        text-wrap: wrap;
        font-family:"Nunito Sans", serif ;
        
    }
    

    
    b{
        color: black;
        font-size: 26px;
        font-family: "Nunito Sans", serif;
    }
    
    
   
}
   }

/*side by side code 1 */
#main {
    padding: 30px;
    background-color: #f4f4f4;  /* Light gray background */
    p {
        font-size: 28px;
        margin-bottom: 20px;
        font-family:"Nunito Sans", serif ;
    }
    h3 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    
}

.single {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container {
    flex: 1 1 60%;  /* Takes up 60% of the space */
    padding: 50px;
    
}




ul {
    font-size: 18px;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.sideside {
    flex: 1 1 35%;  /* Takes up 35% of the space */
    display: flex;
    align-items: center;
    justify-content: space-between;  /* Aligns items horizontally */
    gap: 20px;  /* Adds space between images */
}

.image-container img {
    width: 48%;  /* Makes the images take up 48% of the space */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* DESIGN PROCESS CODE  */

.design-process-container {
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px; /* Adds space around the content */
    background-color: white; /* Optionally, set a background color */
}

h3 {
    font-size: 32px; /* Larger font size for the heading */
    margin-bottom: 15px; /* Adds space below the heading */
}

p {
    font-size: 26px; /* Standard font size for paragraphs */
    font-family:"Nunito Sans", serif ;
    margin-bottom: 28px; /* Adds space between paragraphs */
}
/* DESIGN PROCESS CODE END   */


     .single-column3 {
        min-width: 600px;
        max-width: 1200px;
        margin: 0 auto;
    }
        
        .main-section3 {
        padding: 50px;
    }

        .side-by-side3 {
        display: flex;
        align-items: center;
        margin: 48px 0px;
    }
        
        
        .side-by-side3 .image-container3 {
        display: grid;
        grid-template-columns: 200px 200px ;
        gap: 12px;
        padding: 50px;
    
        
    }
        
        .side-by-side3 .text-container3 {
        flex: 1;
        padding: 12px;

        
    }

        .side-by-side3 .image-container3 img {
        width: 100%;
       
    
        
    }
    /* * this line  the brand colors code */
    .single-column4 {  
        margin: 0 auto;
        
        
        
    }
        
        .main-section4 {
        padding: 50px;

    }

        .side-by-side4 {
        display: flex;
        align-items: center;
        margin: 48px 0px;
        
       
    }
        
        
        .side-by-side4 .image-container4{
        display: flex;
        padding: 50px;
        video{
            width: 400px;
            height: 700px;
            
    
        }
       
    
        
    }
        
        .side-by-side3 .text-container4 {
        /* flex: 1; */
        
        
        

        
    }

        .side-by-side3 .image-container3 img {
        width: 100%;
        
       
    
        
    }
    /* icons code */
    .single-column5 {  
        margin: 0px auto;
        gap: 12px;
        margin: 20px;
        
        
    }
        
        #icons {
        padding: 20px;
        margin: 20px;

    }

        .side-by-side5 {
        display: flex;
        align-items: center;
        justify-content: center;

        
       
    }
        
        
        .text-container5 {
        /* background-color: yellow; */
        padding: 20px;
        margin: 12px;
        
        
        
    }

     .image-container5 img {
    
        /* background-color: yellow; */
        max-width: 500px;
        margin: 9px auto;
        text-align: center;
        padding: 9px;

        }
        
       


    

.appdemo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    max-width: 100%;
    height: auto;

}

iframe {
    max-width: 100%;
    align-items: center;
    justify-items:center ;
    text-align: center;

} 


ul{
    font-size: 26px;
    font-family: "Nunito Sans", serif;
}
#brandcolors{
    align-items:center ;
    justify-content: center;
    margin: auto;
    width: 100%;
    text-align: center;
 img{
    align-items: center;
    justify-content: center;
    width: 400px;
}
}

        

    .mockups2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        align-items: center;
        justify-content: center;
        height: auto;
        img{
            width: 200px;
        }
}
    
 

        #footer{
            padding: 20px;
            margin-top: 80px;
            font-size: 30px;
            font-family: "Nunito Sans", serif ;
            display: grid;
            justify-content: center;
            background-color: #efefef;
            a {text-decoration: none;
             color: black;
        }  
    }
    #contact{
        padding: 15px;
        text-align: center;
        font-size: 20px;
    }
    #linkedin{
        padding: 15px;
        text-align: center;
        font-size: 20px;

    }
    
#layout {
    width: 900px;
    margin: 48px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
   
    h2{
        font-family:"Roboto", sans-serif ;
        font-size: 70px;
        color: #3C3744;
    }
    p{
        font-family:"Nunito Sans", serif ;
        font-size: 26px;
    }
    
}
.basic-grid-gallery {
    /* background-image: linear-gradient(to right, red , blue); */
    display: grid;
    grid-template-columns: 900px;
    
    
}


.basic-grid-gallery img {
    width: 100%;
   
}
#brandcolors{
    align-items: center;
    justify-content: center;
    width: 600px;
}


#jewerlywebsite{
    text-align: center;
    margin: 30px;
    padding: 30px;
}
.menu-button{
    display: none;
}
        


    
   
    
 

/* IPAD RESPOSVISNESS */
@media screen and (max-width: 800px){ 
    .hideOnMobile{
        display: none;

    }
    .menu-button{
        display: block;
    }


    #maintitle {
        margin: auto;
        width: 1000px;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        color: #3C3744;
        margin: auto;
        padding: 30px;
    

     }

     #intro{
        margin: auto;
        width: 1000px;
        align-items: center;
        justify-content: center;
        letter-spacing: .03em;
        font-size: 30px;
        font-family:  "Nunito Sans", serif;
         color: #3C3744;
         margin: auto;
         padding: 30px;
        } 
    


 #main-content{
    width: 600px;
    align-items: center;
    justify-content: center;
    img{
        width: 100%;
        /* max-width: 500px; */
        height: auto;
       
    }
    p{
        font-size: 25px;
        font-family: "Nunito Sans", serif;
    }
    h1{
        font-size: 45px;
        font-weight: 700;
        font-family:"Roboto", sans-serif ;
        margin-top: 60px;
    }
        

    b{
        font-size: 25px;
        font-family:"Nunito Sans", serif ;
    }

    
    b{
        color: black;
        font-size: 25px;
        font-family: "Nunito Sans", serif;
    }
}
#maininfo {
        font-size: 25px;

    }
    .contain{
        width: 50vw;
        margin:0px auto;
        width: 500px;
    }
    .card {
        
        max-width: 350px;
        width: 80vw;
        margin: 20px auto;
        max-width: 500px;
        flex-wrap: wrap;    
        gap: 10px;
        transition: 0.3s;
      }
      .card-container {
        display: grid;
        grid-template-columns: 1fr ;
        gap:12px;
        justify-content: center;
       
        
      }

  

 #wireframing, #hi-fi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12px;
    gap: 5px;
    }
    .protoyed img{
        width: 200px;

    }
    #protoyed{
        display: grid;
        grid-template-columns:1fr 1fr;
        gap: 20px;
        padding: 12px;
        img{
            width: 100%;
        }
        
        
        }
        
        #wireframing, #hi-fi{
            flex: 50%;
            max-width: 150%;
            padding: 12px;
            gap:10px ;
        img{
            width: 200px;
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }

        
    }
    iframe {
        display:none ;
        
    }
}

/*NAVBAR RESPONSIVNESS  */
        @media screen and (max-width: 400px) {
            .sidebar{
                width: 100%;
            }
            
        }

/* PHONES RESPSONVINES */
@media screen and (max-width: 380px){ 
    #maintitle {
        margin: auto;
        width: 300px;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        color: #3C3744;
        margin: auto;
        padding: 30px;
    

     }

     #intro{
        margin: auto;
        width: 300px;
        align-items: center;
        justify-content: center;
        letter-spacing: .03em;
        font-size: 30px;
        font-family:  "Nunito Sans", serif;
         color: #3C3744;
         margin: auto;
         padding: 30px;
        } 


 #main-content{
    width: 300px;
    align-items: center;
    justify-content: center;
    img{
        width: 100%;
        max-width: 400px;
        height: auto;
       
    }
    p{
        font-size: 25px;
        font-family: "Nunito Sans", serif;
    }
    h1{
        font-size: 45px;
        font-weight: 700;
        font-family:"Roboto", sans-serif ;
        margin-top: 60px;
    }
        

    b{
        font-size: 25px;
        font-family:"Nunito Sans", serif ;
    }

    
    b{
        color: black;
        font-size: 25px;
        font-family: "Nunito Sans", serif;
    }
}
#maininfo {
        font-size: 25px;

    }
    .contain{
        width: 50vw;
        margin:0px auto;
        width: 400px;
    }
    .card {
        
        max-width: 350px;
        width: 80vw;
        margin: 20px auto;
        max-width: 400px;
        flex-wrap: wrap;    
        gap: 10px;
        transition: 0.3s;
      }
      .card-container {
        display: grid;
        grid-template-columns: 1fr ;
        gap:12px;
        justify-content: center;
       
        
      }
      #wireframing, #hi-fi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12px;
    gap: 5px;
    }
    .protoyed img{
        width: 200px;

    }
    #protoyed{
        display: grid;
        grid-template-columns:1fr 1fr;
        gap: 20px;
        padding: 12px;
        img{
            width: 100%;
        }
        
        
        }
        
        #wireframing, #hi-fi{
            flex: 50%;
            max-width: 150%;
            padding: 12px;
            gap:10px ;
        img{
            width: 200px;
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }

        
    }
    iframe {
        display:none ;
        
        }
    }

    
   

    
   
    

    
